.form {
    width: 430px;
    height: 330px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    top: 195px;
    left: 425px;
    z-index: 1;
    display: none;
}

.visible {
    display: block;
}