.close-icon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    background: url('../../image/close-icon.svg');
    position: absolute;
    left: 863px;
    display: none;
    border: none;
    cursor: grab;
}

.visible {
    display: block;
}