.profile__info {
    width: 336px;
    height: 73px;
    color: white;
    font-family: Inter;
    margin: 22px 0 25px 3.75px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}