.footer {
    width: 318px;
    height: 18px;
    margin-top: 67px;
    margin-left: 200px;
    margin-bottom: 60px;
    color: #545454;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}